[Unit]
Description=cmsdbldr service
SourcePath=/etc/init.d/cmsdbldr

[Service]
Type=simple
ExecStart=/etc/init.d/cmsdbldr start
ExecStop=/etc/init.d/cmsdbldr stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
